*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.fa-brands{
    color:#fbfbfb;
}
body{
    background-color: #0f4471;
}
.topbar{
    width: 100%;
    background-color: #fc3c3c;
    height: var(--desktop-nav-height);
    position: fixed;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.topbar-under{
    height: 70px;
    background-color: #fc3c3c;
}
.section{
    color: #fbfbfb;
    background-color: #1a2849;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin: 40px auto;
    width: 95%;
    padding-bottom: 100px;
}
.welcome{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img{
    float: right;
    margin: 20px;
    border: 10px solid #0f4471;
    border-radius: 50%;
    max-width: 80%;
}
.logo{
    justify-items: right;
    padding-right: 60px;
    max-width: 100%;
}
.text{
    font-size: x-large;
    margin-top: 110px;
    margin-bottom: 100px;
    max-width: 100%;
}
.title{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    color:#ffffff;
    font-style: normal;
    font-size: 50px;
}
.description{
    font-style: normal;
}
.main_button{
    display: inline-block;
    background-color: #fc3c3c;
    color: #ffffff;
    border-width: 0px;
    border-radius: 6px;
    font-weight: bold;
    transition: opacity .15s;
}
.main_button.large{
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.main_button.medium{
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-left: 40px;
    margin-right: 40px;
}
button:hover{
    opacity: .8;
    cursor: pointer;
}
.button{
    margin-left: 60px;
    margin-right: 60px;
    display: inline-block;
    max-block-size: 80%;
}
.buttons{
    padding-top: 20px;
    border-radius: 10px;
    background-color: #1a2849;
    text-align: center;
}
.fa-regular{
    background-color: #fc3c3c;
}
h1,h2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #083358;
    color: #fbfbfb;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 0px;
    padding: 10px;;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
#gh-icon{
    text-align: center;
    transition: opacity .15s;
}
#gh-icon:hover{
    opacity: .8;
    cursor: pointer;
}
table{
    color: #fbfbfb;
    width: 100%;
}
th{
    text-align: center;
    font-size: 20px;
}
td{
    color: #fbfbfb;
    text-align: center;
    transition: opacity .15s;
}
td:hover{
    opacity: .8;
    cursor: pointer;
}
.setbody{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputfields{
    display: grid;
    max-width: 100%;
    height: 80%;
    margin: auto;
}
.inputfields textarea{
    width: 800px;
    max-width: 100%;
    border-radius: 5px;
    font-family: inherit;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.setbuttons{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.flash_body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.flashcard{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 300px;
    width: 550px;
    text-align: center;
    color: #1a2849;
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    word-wrap: break-word;
}
.cardtext{
    font-size: x-large;
    margin: auto;
}
.leftarrow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.rightarrow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.arrow_button{
    background-color: rgba(0, 0, 0, 0);
    color:#fbfbfb;
    border: 0px;
}
.timer{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}